<div *ngIf="customer">
  <h1 class="page-header">{{customer.first_name}}</h1>
  <h4>Contact Info</h4>
  <ul class="list-group">
    <li class="list-group-item"><strong>Company: </strong>{{customer.company}}</li>
    <li class="list-group-item"><strong>Email: </strong>{{customer.email}}</li>
    <li class="list-group-item"><strong>Phone: </strong>{{customer.phone}}</li>
  </ul>

  <h4>Location Info</h4>
  <ul class="list-group">
    <li class="list-group-item"><strong>Street: </strong>{{customer.address.street}}</li>
    <li class="list-group-item"><strong>City: </strong>{{customer.address.city}}</li>
    <li class="list-group-item"><strong>State: </strong>{{customer.address.state}}</li>
    <li class="list-group-item"><strong>Zipcode: </strong>{{customer.address.zip}}</li>
  </ul>

  <h4 class="page-header">Invoices <a routerLink="/invoice/add/{{customer._id}}">Create Invoice</a></h4>
  <div class="customers">
      <table class="table table-striped">
          <tr>
            <th>ID</th>
            <th>Service</th>
            <th>Price</th>
            <th>Status</th>
            <th>Due</th>
            <th></th>
          </tr>
          <tr *ngFor="let invoice of invoices">
            <td>{{invoice._id}}</td>
            <td>{{invoice.service}}</td>
            <td>{{invoice.price}}</td>
            <td>{{invoice.status}}</td>
            <td>{{invoice.due}}</td>
            <td>
                <a (click)="markPaid(invoice._id, invoice)" class="btn btn-default">Mark Paid</a>
                <a href="" (click)="onDeleteClick(invoice._id)" class="btn btn-danger">Delete</a>
            </td>
          </tr>
        </table>
      </div>
</div>
