<h1 class="page-header">Edit Customer</h1>
<form (submit)="onEditSubmit()" class="well">
    <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" [(ngModel)]="first_name" name="first_name" placeholder="First Name">
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" [(ngModel)]="last_name" name="last_name" placeholder="Last Name">
    </div>
    <div class="form-group">
        <label>Company</label>
        <input type="text" class="form-control" [(ngModel)]="company" name="company" placeholder="Company">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" [(ngModel)]="email" name="email" placeholder="Email">
    </div>
    <div class="form-group">
        <label>Phone Number</label>
        <input type="text" class="form-control" [(ngModel)]="phone" name="phone" placeholder="Phone Number">
    </div>
    <div class="form-group">
        <label>Street</label>
        <input type="text" class="form-control" [(ngModel)]="street" name="street" placeholder="Street Address">
    </div>
    <div class="form-group">
        <label>City</label>
        <input type="text" class="form-control" [(ngModel)]="city" name="city" placeholder="City">
    </div>
    <div class="form-group">
        <label>State</label>
        <input type="text" class="form-control" [(ngModel)]="state" name="state" placeholder="State">
    </div>
    <div class="form-group">
        <label>Zip</label>
        <input type="text" class="form-control" [(ngModel)]="zip" name="zip" placeholder="Zip Code">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
